<?php
/**
 * @var DrubuNet_EnvioPack_Block_Adminhtml_System_Config_Fieldset_Mapping $this
 */
$_htmlId = $this->getHtmlId() ? $this->getHtmlId() : '_' . uniqid();
$productCode = $this->_getAttributes();
$sizeUnit = ['cm', 'mt'];
$weightUnit = ['kg', 'gr'];
$meCode = ['length','width','height', 'weight'];
$labels = $this->_getLabels();
$prevValues = [];
$unit = $sizeUnit;

$prevValues = $this->_getStoredMappingValues();

?>

<div class="grid" id="grid<?php echo $_htmlId ?>">
    <table cellpadding="0" cellspacing="0" class="border">
        <tr class="headings" id="headings<?php echo $_htmlId ?>">
            <th><?php echo $this->__('')?></th>
            <th><?php echo $this->__('Atributo')?></th>
            <th><?php echo $this->__('Unidad')?></th>
        </tr>
        <?php foreach($meCode as $key => $meOption):?>
            <tr id="<?php echo $meOption ?>">
                    <td>
                        <label><?php echo $labels[$key] ?>:</label>
                    </td>
                    <td>
                        <select name="groups[drubunet_enviopack][fields][attributesmapping][value][<?php echo $meOption ?>][attribute_code]">
                            <?php foreach($productCode as $option):?>
                                <option value="<?php echo $option->getAttributeCode() ?>"
                                    <?php echo ( isset($prevValues[$meOption]['attribute_code']) && $prevValues[$meOption]['attribute_code'] == $option->getAttributeCode()) ? "selected='selected'" : "" ?>><?php echo $option->getFrontendLabel() ?>
                                </option>
                            <?php endforeach; ?>
                        </select>
                    </td>
                    <?php if ($meOption == 'weight') : $unit = $weightUnit; endif;?>
                    <td>
                        <select name="groups[drubunet_enviopack][fields][attributesmapping][value][<?php echo $meOption ?>][unit]">
                            <?php foreach($unit as $_u):?>
                                <option value="<?php echo $_u ?>" <?php echo (isset($prevValues[$meOption]['unit']) && $prevValues[$meOption]['unit'] == $_u) ? "selected='selected'" : '' ?>><?php echo $_u ?></option>
                            <?php endforeach; ?>
                        </select>
                    </td>
            </tr>
        <?php endforeach; ?>
    </table>
</div>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(event) {
        showHideAttributeMapping();
    });
    document.getElementById('carriers_drubunet_enviopack_quote_by').addEventListener('change', function() {
        showHideAttributeMapping();
    });
    function showHideAttributeMapping () {
        var dropdown = document.getElementById('carriers_drubunet_enviopack_quote_by');
        var selectedValue = dropdown.options[dropdown.selectedIndex].value;
        var row = document.getElementById('row_carriers_drubunet_enviopack_attributesmapping');
        if (selectedValue == 1) {
            row.style.display = 'none';
        } else {
            row.style.display = 'table-row';
        }
    }
</script>