<?php /** @var DrubuNet_EnvioPack_Block_Adminhtml_Orders $this */ ?>
<?php $trackingInformation = $this->getTrackingInformation() ?>
<div class="page-title title-buttons">
    <h1><?php echo $this->__('Tracking Information'); ?></h1>
    <button class="button" onclick="window.close(); window.opener.focus();"><span><span><?php echo $this->__('Close Window') ?></span></span></button>
</div>

<?php if ($trackingInformation): ?>
    <table class="data-table" id="track-history-table-enviopack>"
        <thead>
        <tr>
            <th><?php echo $this->__('Fecha') ?></th>
            <th><?php echo $this->__('Mensaje') ?></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($trackingInformation as $tracking): ?>
            <tr>
                <td><?php echo $tracking['fecha'] ?></td>
                <td><?php echo $tracking['mensaje'] ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
    <script type="text/javascript">decorateTable('track-history-table-enviopack');</script>
<?php else: ?>
    <p><?php echo $this->__('There is no tracking available.'); ?></p>
<?php endif; ?>
